<!DOCTYPE html>
<html lang="en">

{{>layout/head bundleName="index"}}

<body>

    {{>layout/header}}

    <main>
        <p>test page</p>

        {{!-- <figure class="card flip" suit="hearts">
            <section class="face">
                <span class="value">10</span>
            </section>
            <section class="back"></section>
        </figure>

        <figure class="card" suit="spades">
            <section class="face">
                <span class="value">7</span>
            </section>
            <section class="back"></section>
        </figure> --}}


        <div id="pile1" class="pile"></div>
        <div id="pile2" class="pile"></div>

    </main>

    {{>layout/footer}}
</body>

</html>