<!DOCTYPE html>
<html lang="en">

{{>layout/head bundleName="index"}}

<body class="flex-column">

    {{>layout/header}}

    <main class="full-height flex-column">
        <p>test page</p>
        <article id="table" class="full-height table table--outlined"></article>
    </main>

    {{>layout/footer}}
</body>

</html>