<!DOCTYPE html>
<html lang="en">

{{>layout/head bundleName="index"}}

<body>

    {{>layout/header}}

    <main>
        <p>test page</p>
        <article id="table" class="table table--outlined"></article>
    </main>

    {{>layout/footer}}
</body>

</html>